certifi==2020.6.20
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.22.0
pandas @ file:///C:/ci/pandas_1592841747005/work
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
wincertstore==0.2
